---
services:
    weaviate:
        command:
            - --host
            - 0.0.0.0
            - --port
            - '8080'
            - --scheme
            - http
        image: cr.weaviate.io/semitechnologies/weaviate:1.34.0
        ports:
            - 8080:8080
            - 50051:50051
        volumes:
            - weaviate_data:/var/lib/weaviate
        restart: on-failure:0
        environment:
            QUERY_DEFAULTS_LIMIT: 25
            PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
            CLUSTER_HOSTNAME: 'node1'
            AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'false'
            AUTHENTICATION_APIKEY_ENABLED: 'true'
            AUTHENTICATION_APIKEY_ALLOWED_KEYS: 'user-a-key,user-b-key'
            AUTHENTICATION_APIKEY_USERS: 'user-a,user-b'
            AUTHORIZATION_ENABLE_RBAC: 'true'
            AUTHORIZATION_RBAC_ROOT_USERS: 'user-a'
    neo4j:
        image: neo4j:latest
        volumes:
            - neo4j_data:/data
        environment:
            - NEO4J_AUTH=user-a/123456
        ports:
            - '7474:7474'
            - '7687:7687'
        restart: always
volumes:
    weaviate_data:
    neo4j_data:
